<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>Thyroid Detection - Homepage</title>
</head>
<body>
    <div class="wrapper fl">
        <div class="main">
            <div class="head">
                <div style="background-color:#FFAFBD;padding:5px;">
                    <center>
                        <h1 style="color:blue">Thyroid Disease Detection</h1><br>
                    </center>
                </div>

                <div class="form fl p-3">
                    <form action="/predict" method="POST" class="row">

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="age"  id="age" placeholder="1-100" step="any"
                                   class="name-inp form-control" min="1" max="100" required>
                            <label for="age" class="ms-2">Age</label>
                            <div class="form-text">1 to 100</div>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="sex"  id="sex" placeholder="0-1" step="any"
                                   class="name-inp form-control" min="0" max="1" required>
                            <label for="sex" class="ms-2">Sex</label>
                            <div class="form-text">Female-0, Male-1</div>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="TSH"  id="tsh" placeholder="30-150" step="any"
                                   class="name-inp form-control" min="0.0" max="530.0" required>
                            <label for="tsh" class="ms-2">Thyroid Stimulating Hormone Level</label>
                            <div class="form-text">0.0 to 530.0</div>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="T3" placeholder="30-150" id="t3" step="any"
                                   class="name-inp form-control" min="0.0" max="11.0" required>
                            <label for="t3" class="ms-2">T3 Measure</label>
                            <div class="form-text">0.0 to 11.0</div>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="T4U" placeholder="30-150" id="t4u" step="any"
                                   class="name-inp form-control" min="0.0" max="2.0" required>
                            <label for="t4u" class="ms-2">T4U Measure</label>
                            <div class="form-text">0.0 to 2.0</div>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="FTI" placeholder="30-150" id="fti" step="any"
                            class="name-inp form-control" min="2.0" max="395.0" required>
                            <label for="fti" class="ms-2">Free Thyroxine Index</label>
                            <div class="form-text">2.0 to 395.0</div>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="onthyroxine" id="on_thyroxine"
                                   class="name-inp form-control" min="0" max="1" placeholder="True-1, False-0" required>
                            <label for="on_thyroxine" class="ms-2">On Thyroxine Medication</label>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="queryonthyroxine" id="query_on_thyroxine"
                                   class="name-inp form-control" min="0" max="1" placeholder="True-1, False-0" required>
                            <label for="query_on_thyroxine" class="ms-2">Query On Thyroxine</label>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="onantithyroidmedication" id="on_anti_thyroid_medication"
                                   class="name-inp form-control" min="0" max="1" placeholder="True-1, False-0" required>
                            <label for="on_anti_thyroid_medication" class="ms-2">On Anti Thyroid Medication</label>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="sick"  id="sick"
                                   class="name-inp form-control" min="0" max="1" placeholder="True-1, False-0" required>
                            <label for="sick" class="ms-2">Sick</label>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="pregnant" id="pregnant"
                                   class="name-inp form-control" min="0" max="1" placeholder="True-1, False-0" required>
                            <label for="pregnant" class="ms-2">Pregnant</label>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="thyroidsurgery" id="thyroid_surgery"
                                   class="name-inp form-control" min="0" max="1" placeholder="True-1, False-0" required>
                            <label for="thyroid_surgery" class="ms-2">Thyroid Surgery</label>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="I131treatment" id="I131_treatment"
                                   class="name-inp form-control" min="0" max="1" placeholder="True-1, False-0" required>
                            <label for="I131_treatment" class="ms-2">I131 treatment</label>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="queryhypothyroid" id="query_hypothyroid"
                                   class="name-inp form-control" min="0" max="1" placeholder="True-1, False-0" required>
                            <label for="query_hypothyroid" class="ms-2">Query Hypothyroid</label>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="queryhyperthyroid" id="query_hyperthyroid"
                                   class="name-inp form-control" min="0" max="1" placeholder="True-1, False-0" required>
                            <label for="query_hyperthyroid" class="ms-2">Query Hyperthyroid</label>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="lithium" id="lithium"
                                   class="name-inp form-control" min="0" max="1" placeholder="True-1, False-0" required>
                            <label for="lithium" class="ms-2">Lithium</label>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="goitre" id="goitre"
                                   class="name-inp form-control" min="0" max="1" placeholder="True-1, False-0" required>
                            <label for="goitre" class="ms-2">Goitre</label>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="tumor" id="tumor"
                                   class="name-inp form-control" min="0" max="1" placeholder="True-1, False-0" required>
                            <label for="tumor" class="ms-2">Tumor</label>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="hypopituitary" id="hypopituitary"
                                   class="name-inp form-control" min="0" max="1" placeholder="True-1, False-0" required>
                            <label for="hypopituitary" class="ms-2">Hypopituitary</label>
                        </div>

                        <div class="form-floating my-3 col-md-3">
                            <input type="number" name="psych" id="psych"
                                   class="name-inp form-control" min="0" max="1" placeholder="True-1, False-0" required>
                            <label for="psych" class="ms-2">Psychological Symptoms</label>
                        </div>

                        <center><b><input type="submit" name="sb" value="Predict" class="sub btn btn-primary"><br></b></center>
                    </form>

                    <center>
                        <h2 style="color:blue;margin-bottom: 50px;"> {{prediction_text}} </h2>
                    </center>

<!--                    <div class="fixed-bottom bg-info bg-gradient row align-items-center" >-->
<!--                        <div class="col text-center">-->
<!--                            <a href="https://www.linkedin.com/in/imupendra/" style="text-decoration: none;"><p style="color:whitesmoke" > Developed by Upendra Kumar</p></a>-->
<!--                        </div>-->

<!--                        <div class="col text-center">-->
<!--                            <a href="https://github.com/imkushwaha/Thyroid-Disease-Detection" style="text-decoration: none;"><p style="color:whitesmoke" > Source Code</p></a>-->
<!--                        </div>-->
<!--                    </div>-->

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


</body>
</html>
