<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Thyroid Detection - Homepage</title>
  </head>
  <body class="bg-nav">
    <nav class="navbar">
      <a href="#" class="navbar-brand text-light" style="margin-left: 20px">Thyroid Disease Detection</a>
    </nav>
    <div class="container">
<!--      <div class="row">-->
<!--        <div class="col-md-8">-->
<!--          <h1 class="text-light display-4 mt-100" style="font-size:80px">ABCDEF TEXT</h1>-->
<!--        </div>-->
        <div class="col-md-12">
          <div class="card mt-100">
            <div class="card-body">

              <form class="form" action="/predict" method="POST">
                <label for="age">Age</label><br>
                <input type="number" class="form-control" name="age" id="age" min="1" max="100" step="any" required><br>

                <label>Sex (Male - 1, Female - 0)</label><br>
                <input type="number" class="form-control" name="sex" id="sex" min="0" max="1" required><br>

                <label>Thyroid Stimulating Hormone Level</label><br>
                <input type="number" class="form-control" name="TSH" id="TSH" min="0.005" max="478.0" step="any" required><br>

                <label>T3 Level (Recheck the value)</label><br>
                <input type="number" class="form-control" name="T3" id="T3" min="0.05" max="10.6" step="any" required><br>

                <label>T4U Level (Recheck the complete data)</label><br>
                <input type="number" class="form-control" name="T4U" id="T4U" min="0.31" max="2.12" step="any" required><br>

                <label>Free Thyroxine Index (FTI)</label><br>
                <input type="number" class="form-control" name="FTI" id="FTI" min="2.0" max="395.0" step="any" required><br>

                <label>On Thyroxine</label><br>
                <input type="number" class="form-control" name="onthyroxine" id="onthyroxine" min="0" max="1" required><br>

                <label>Query On Thyroxine (Recheck the complete data)</label><br>
                <input type="number" class="form-control" name="queryonthyroxine" id="queryonthyroxine" min="0" max="1" required><br>

                <label>On Antithyroid Medication</label><br>
                <input type="number" class="form-control" name="onantithyroidmedication" id="onantithyroidmedication" min="0" max="1" required><br>

                <label>Sick (Recheck the complete data)</label><br>
                <input type="number" class="form-control" name="sick" id="sick" min="0" max="1" required><br>

                <label>Pregnant (Recheck the complete data)</label><br>
                <input type="number" class="form-control" name="pregnant" id="pregnant" min="0" max="1" required><br>

                <label>Thyroid Surgery (Recheck the complete data)</label><br>
                <input type="number" class="form-control" name="thyroidsurgery" id="thyroidsurgery" min="0" max="1" required><br>

                <label>I131 Treatment (Recheck the complete data)</label><br>
                <input type="number" class="form-control" name="I131treatment" id="I131treatment" min="0" max="1" required><br>

                <label>Query Hypothyroid (Recheck the complete data)</label><br>
                <input type="number" class="form-control" name="queryhypothyroid" id="queryhypothyroid" min="0" max="1" required><br>

                <label>Query Hyperthyroid (Recheck the complete data)</label><br>
                <input type="number" class="form-control" name="queryhyperthyroid" id="queryhyperthyroid" min="0" max="1" required><br>

                <label>Lithium (Recheck the complete data)</label><br>
                <input type="number" class="form-control" name="lithium" id="lithium" min="0" max="1" required><br>

                <label>Goitre</label><br>
                <input type="number" class="form-control" name="goitre" id="goitre" min="0" max="1" required><br>

                <label>Tumor (Recheck the value)</label><br>
                <input type="number" class="form-control" name="tumor" id="tumor" min="0" max="1" required><br>

                <label>Hypopituitary</label><br>
                <input type="number" class="form-control" name="hypopituitary" id="hypopituitary" min="0" max="1" required><br>

                <label>Psychological Symptoms (Psych)</label><br>
                <input type="number" class="form-control" name="psych" id="psych" min="0" max="1" required><br>

                <input type="submit" class="btn btn-primary btn-block btn-lg" value="Predict"><br>

              </form>

              <br><center><h2 style="color: blue"> {{prediction_text}} </h2></center><br>

            </div>
          </div>
        </div>


      </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>